@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.container {
    padding: 13rem 16rem 11.6rem 16rem;
    max-width: 1440px;
    max-height: 1054px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.7rem;
}

.search {
    display: flex;
    gap: .8rem;
}

.search input {
    padding: 1.6rem;
    width: 46.2rem;
    background-color: #06181C;
    border-radius: .5rem;
    border: none;
    color: #7c7c8a;

}

.search button {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #065E7C;
    border-radius: .5rem;
    padding: 1.2rem 3.2rem;
    font-style: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.content-none p {
    font-weight: 700;
    font-size: 4rem;
    line-height: 2.4rem;
    color: #4e5455;
    font-family: 'Roboto Mono', monospace;
}

.content-none {
    display: flex;
    align-items: center;
    gap: 6rem;
    background-color: #030B0D;
    height: 62.4rem;
    justify-content: center;
}

table tr:nth-child(odd) {
    background: rgba(6, 22, 27, 0.5);
}

table tr:nth-child(even) {
    background: #06181C;
}

main {
    border: 1px solid #4A808C;
    border-radius: 12px;

}

main table {
    width: 100%;
    border-collapse: collapse;

}

#app table thead {
    background-color: #092d38;
    border-collapse: collapse;
}

#app table thead th {
    font-weight: 700;
    font-size: 2rem;
    color: #E1E1E6;
    line-height: 3.2rem;
    font-style: normal;
    padding: 1.6rem 0 1.6rem 4rem;
    text-align: left;
}

#app tbody tr td {
    padding: 2.4rem 0 2.4rem 4rem;
}

.hide {
    display: none;
}

tbody img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user a {
    text-decoration: none;
}

.user p {
    color: #e1e1e6;
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;

}

.user span {
    color: #e1e1e6;
    font-weight: 400;
    font-size: 2rem;
    line-height: 160%;

}

.repositories {
    color: #e1e1e6;
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
}

.followers {
    color: #e1e1e6;
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
}

.remove {
    background-color: transparent;
    color: #f75a68;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 160%;
    cursor: pointer;
}